.header-bg {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
}

.nav-link:hover {
  text-decoration: none;
  color: var(--brand);
}

.logo {
  max-width: 80px;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}
